<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar>
  <span>Easter in Italy</span>
  <span class="nav-spacer"></span>
  <mat-icon class="example-icon favorite-icon">egg</mat-icon>
</mat-toolbar>

<div class="video">
  <iframe
    title="video"
    class="video-iframe"
    src="https://www.youtube.com/embed/QYILrIzMEu0" allowfullscreen
  ></iframe>
</div>
<br>

<mat-toolbar>
  <span>Apprentice Day at Netcetera</span>
  <span class="nav-spacer"></span>
</mat-toolbar>
<div>
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="infinite"
    [autoSlide]="autoSlide"
    [imageSize]="{width: '15%', height: 180}"
    slideImage="1"
    [showArrow]="false">
  </ng-image-slider>
  <div class="container">
    <button mat-button color="primary" (click)="prevImageClick()">Prev</button>
    <button mat-button color="primary" (click)="nextImageClick()">Next</button>
    <button mat-button color="primary" (click)="toggleAutoSlide()">Infinite on/off</button>
  </div>
</div>

<mat-toolbar>
  <span>Animation</span>
  <span class="nav-spacer"></span>
</mat-toolbar>
<div>
  <p>DAS IST EINE ANIMATION!!!</p>
</div>
<div [@fadeIn] *ngIf="isVisible" class="box"></div>
<button (click)="toggleVisibility()">Toggle Visibility</button>

