<mat-toolbar>
  <span>Easter in Italy</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon favorite-icon">egg</mat-icon>
</mat-toolbar>

<div class="video">
  <iframe
    title="video"
    class="video-iframe"
    src="https://www.youtube.com/embed/QYILrIzMEu0" allowfullscreen
  ></iframe>
</div>
<br>

<mat-toolbar>
  <span>Apprentice Day at Netcetera</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div>
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{width: '15%', height: 180}"
    slideImage="1">
  </ng-image-slider>
</div>
