.video {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.video-iframe {
  height: 380px;
  width: 600px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 20px;
}

